.login-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-icon {
  position: absolute;
}

.search-input {
  background-color: transparent;
  border-width: 0;
  opacity: 1;
  border-bottom: 2px solid #000000;
  padding-left: 20px;
  padding-bottom: 5px;
  outline: none;
}

.search-area {
  position: relative;
  top: 10px;
  left: 10px;
}

.img-size-change {
  transition: transform 0.5s ease-in-out;
}

.img-size-change:hover {
  transform: scale(1.1);
}
